.loading-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--dark-purple-700);
  border-top-color: var(--purple-700);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

span {
  color: var(--dark-purple-100);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
