.card {
  position: relative;
  background: var(--dark-purple-700);
  border-radius: 0.5rem;
  width: max-content;
  padding: 2rem 1rem 1rem;
  margin-top: 0.75rem;

  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

* {
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 1.5rem;
  background: var(--dark-purple-750);
  padding: 4px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -0.75rem;
  right: 1rem;
  span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-purple-300);

    &.front-end {
      color: #9f9ef7;
    }
    &.back-end {
      color: #f5746c;
    }
    &.mobile {
      color: #e4f53b;
    }
    &.design {
      color: #b35ff5;
    }
    &.inteligencia-artificial {
      color: #47a0f5;
    }
    &.data-science {
      color: #62f53b;
    }
    &.devops {
      color: #f19747;
    }
  }
}

.body {
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h6 {
    font-size: 14px;
    color: var(--dark-purple-100);
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow-wrap: break-word;
  }

  footer span {
    color: var(--dark-purple-100);
    font-size: 12px;
  }
}

.image {
  height: 10rem;
  width: 16rem;
  overflow: hidden;
  border-radius: 4px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
