main {
  padding: 4rem 0;
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: var(--green-300);
  font-size: 1.5rem;

  strong {
    color: var(--dark-purple-100);
  }
  margin-bottom: 1.5rem;
  .container-tags {
    padding: 1.5rem 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .tag {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: var(--dark-purple-750);
    border-radius: 0.25rem;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--purple-500);
  }
}

.container-search {
  padding: 2rem 0;
  border-bottom: 1px solid var(--dark-purple-700);
}

.articles {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 2rem 0;
  }
}
