<nav>
  <div class="container">
    <ul>
      @for (category of categoriesToNavbar; track $index) {

      <a class="category-item" routerLink="/articles/category/{{ category }}" routerLinkActive="active">
        {{ category }}
      </a>

      } @if ( categoriesToMenu.length > 0 ) {
      <li class="category-item action" (click)="toggleMenu()">
        @if (isMenuOpened) {

        <app-svg name="close" />
        } @else {
        <app-svg name="menu-dots" />

        }
      </li>
      }
    </ul>
    <div class="menu-dots-categories" [class.open]="isMenuOpened">
      <ul>
        @for (category of categoriesToMenu; track $index) {
        <a class="category-item" routerLink="/articles/category/{{ category }}" routerLinkActive="active">
          {{ category }}
        </a>
        }
      </ul>
    </div>
  </div>
</nav>
