.card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: var(--dark-purple-900);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
  height: 14rem;
  max-height: 14rem;

  &:hover {
    transform: scale(1.01);
  }
}

.image {
  width: 16rem;
  min-width: 16rem;
  aspect-ratio: 1 / 0.75;
  background: var(--dark-purple-800);
  display: grid;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h2 {
    color: white;
    font-weight: 900;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow-wrap: break-word;
    margin-bottom: 0.25rem;
  }

  div.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p,
    span {
      font-size: 0.825rem;
      color: var(--dark-purple-300);
    }
  }

  p {
    color: var(--dark-purple-100);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow-wrap: break-word;
    margin-bottom: 0.75rem;
  }

  .text {
    * {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

@media (max-width: 700px) {
  .card {
    max-height: initial;
    height: initial;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .image {
    width: 100%;
    max-width: 100%;
  }
  .content {
    //gap: 1.5rem;
    padding: 1.5rem;

    h2 {
      -webkit-line-clamp: 3;
      line-clamp: 3;
      font-size: 1.15rem;
    }
  }
}
