div.container-comment {
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  border-left: 2px solid var(--purple-500);
}

div.content {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--dark-purple-700);
}

header {
  display: flex;
  margin-bottom: 0.35rem;
  justify-content: space-between;

  span {
    color: var(--dark-purple-500);
    font-size: 0.875rem;
  }
}

article {
  padding-right: 1rem;
}

p {
  color: white;
  font-size: 1rem;
}

app-svg {
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    transform: scale(1.15);
  }
}

:host {
  ::ng-deep {
    svg {
      height: 1rem;
      width: 1rem;
    }

    path {
      fill: var(--dark-purple-400);
    }
  }
}
