nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--dark-purple-500);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: var(--dark-purple-300);
  }
}

a:nth-child(2n) {
  
  min-width: 40px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & ~ a::before {
    content: '>';
    margin-right: 1rem;
    color: var(--dark-purple-500);
  }

  &::before {
    content: '>';
    margin-right: 1rem;
    color: var(--dark-purple-500);
  }
}

a:last-child {
  color: var(--purple-300);
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
